{% extends "nba/base.html" %}
{% block title %} {{ game.away.key }} @ {{ game.home.key }} {% endblock %}
{% block jumbotron %} {{ game.away.key }} @ {{ game.home.key }} {% endblock %}

{% block content %}


<p> {{ game.away }} - {{ game.home}} </p>
<p> {{ game.away_score }} - {{ game.home_score}} </p>

<a href="{% url 'games:comments' game.id %}">Show all comments</a>

<h1>Write your own review: </h1>

<form action="{% url 'games:review' game.id %}" method="post">
{% csrf_token %}
	<label for="review_offence">Offence</label><br />
    <input type="text" name="review_offence" id="review_offence" /> <br />
    <input type="number" name="rating_offence" id="rating_offence" min="0" max="10"> <br />

    <label for="review_defence">Defence</label><br />
    <input type="text" name="review_defence" id="review_defence" /> <br />
    <input type="number" name="rating_defence" id="rating_defence" min="0" max="10"> <br />

    <label for="review_commentary">Commentary</label><br />
    <input type="text" name="review_commentary" id="review_commentary" /> <br />
    <input type="number" name="rating_commentary" id="rating_commentary" min="0" max="10"> <br />
    
<input type="submit" value="Review" class="btn btn-primary btn-lg active"/>
</form>

{% endblock %}