{% extends "nba/base.html" %}
{% block title %}Today's NBA Games{% endblock %}

{% block content %}

{% if game_list %}

	<div class="row vertical-align">
		<div class="col-xs-2 text-left" onclick="location.href='{% url 'games:game_day' previous_day|date:"Y" previous_day|date:"M" previous_day|date:"j" %}';">
        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  
		</div>

		<div class="col-xs-8 text-center">
			{{ day|date:"l, d F Y" }}
		</div>

		<div class="col-xs-2 text-right">
	        <div class="align_right smallplus" onclick="location.href='{% url 'games:game_day' next_day|date:"Y" next_day|date:"M" next_day|date:"j" %}';">
            	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  
	        </div>
		</div>
	</div>

	<hr>
    
    {% for game in game_list %}


    	<div class="row vertical-align" onclick="location.href='{% url 'games:detail' game.id %}';" >

    		<div class="col-xs-3">
    			<img class="img-responsive center-block" src="{{STATIC_URL}}bootstrap/img/logos/{{game.away.key}}.png" />
    		</div>

    		<div class="col-xs-6 text-center">
	    		<div class="row">
	    			{{ game.date|date:"P" }} 
	    		</div>

	    		<div class="row">
	    			{{ game.away.key }} @ {{ game.home.key }}
	    		</div>

	    		<div class="row">

	    			{% if game.rating %}
	    				<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" 
								 aria-valuenow="{{ game.rating.total }}" aria-valuemin="0" aria-valuemax="100" 
								 style="width: {{game.rating.total}}%">
							   
							   	{{game.rating.total}}
							</div>
						</div>
					{% else %}
					    No Rating Yet.
					{% endif %}
	    			
				</div>
				
    		</div>
    		<div class="col-xs-3">
    			<img class="img-responsive center-block" src="{{STATIC_URL}}bootstrap/img/logos/{{game.home.key}}.png" />
    		</div>

        </div>
        
        <hr>

    {% endfor %}

{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}