{% extends "nba/base.html" %}
{% block title %}Today's NBA Games{% endblock %}

{% block content %}

{% if game_list %}
    
    {% for game in game_list %}


    	<div class="row vertical-align" onclick="location.href='{% url 'games:detail' game.id %}';" >

    		<div class="col-xs-3">
    			<img class="img-responsive center-block" src="{{STATIC_URL}}bootstrap/img/logos/{{game.away.key}}.gif" />
    		</div>

    		<div class="col-xs-6 text-center">
	    		<div class="row">
	    			{{ game.date }} 
	    		</div>

	    		<div class="row">
	    			{{ game.away.key }} @ {{ game.home.key }}
	    		</div>

	    		<div class="row">
					{{ game.away_score }} - {{ game.home_score }}
				</div>

	    		<div class="row">

	    			{% if game.rating %}
	    				<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" 
								 aria-valuenow="{{ game.rating.total }}" aria-valuemin="0" aria-valuemax="100" 
								 style="width: {{game.rating.total}}%">
							   
							   	{{game.rating.total}}
							</div>
						</div>
					{% else %}
					    No Rating Yet.
					{% endif %}
	    			
				</div>
				
    		</div>
    		<div class="col-xs-3">
    			<img class="img-responsive center-block" src="{{STATIC_URL}}bootstrap/img/logos/{{game.home.key}}.gif" />
    		</div>

        </div>
        
        <hr>

    {% endfor %}

{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}