{% extends "nba/base.html" %}
{% block title %} {{ game.away.key }} @ {{ game.home.key }} {% endblock %}
{% block jumbotron %} {{ game.away.key }} @ {{ game.home.key }} {% endblock %}

{% block content %}


<p> {{ game.away }} - {{ game.home}} </p>
<p> {{ game.away_score }} - {{ game.home_score}} </p>

<a href="{% url 'games:comments' game.id %}">Show all comments</a>

<h1>Write your own review: </h1>



<form action="{% url 'games:review' game.id %}" method="post">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-8">
			<textarea name="review" id="review" class="form-control" rows="3" placeholder="Write your own review."></textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label for="review_offence">Offence</label>
		</div>
		<div class="col-md-4">
			<input type="number" name="rating_offence" id="rating_offence"  class="rating"  data-min="0" data-max="10" data-empty-value="0" />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<label for="review_defence">Defence</label>
		</div>
		<div class="col-md-4">
			<input type="number" name="rating_defence" id="rating_defence" class="rating"  data-min="0" data-max="10" data-empty-value="0" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label for="review_commentary">Commentary</label>
		</div>
		<div class="col-md-4">
			<input type="number" name="rating_commentary" id="rating_commentary" class="rating"  data-min="0" data-max="10" data-empty-value="0" />
		</div>
	</div>

	<div class="row">
		<input type="submit" value="Review" class="btn btn-primary btn-lg active"/>
	</div>

</form>

{% endblock %} 