{% extends "nba/base.html" %}
{% block title %} {{ game.away.key }} @ {{ game.home.key }} {% endblock %}

{% block content %}

<div class="jumbotron">
	<h1> {{ game.away }} at {{ game.home}} </h1>
</div>


<h2> Offence </h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped" role="progressbar" 
		 data-transitiongoal="{{ game.rating.offence }}">
	</div>
</div>

<h2> Defence </h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped" role="progressbar" 
		 data-transitiongoal="{{ game.rating.defence }}">
	</div>
</div>

<h2> Commentary </h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped" role="progressbar" 
		 data-transitiongoal="{{ game.rating.commentary }}">
	</div>
</div>

<hr>


{% for comment in game.gamecomment_set.all %}
<article>
  <header>
    <h3>{{ comment.conclusion }}</h3>
  </header>
  <p>{{ comment.text }}</p>
  <footer>
    <p><small>Published: <time pubdate="pubdate">{{comment.date}}</time> by {{comment.user}} </small></p>
  </footer>
</article>
<hr>
{% endfor %}






{% endblock %}